* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 100vh;
    color: antiquewhite;
}

.d-block{
    display: block;
}
.error{
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}
@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }

h1{
    
}
.color-0{
    background-color:#f0466f;
}

.color-1{
    background-color: #ffd166;
}

.color-2{
    background-color: #0bd6a1;
}
.color-3{
    background-color: rgba(19,137,178,255);
}
